*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



*::selection {
    background: rgb(25, 26, 25);
    color: rgb(224, 224, 224);
    
}

body{
  height: 100%;
  background-color: #f2f2f2;
}



.header {
    -webkit-box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29); 
    box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29);
    background-color:rgb(24, 23, 23);
    padding: 0;
    position: relative;
    
}

.header a{
  font-family: 'Open Sans Condensed', sans-serif;
    color: aliceblue;
}

.header a:hover{
    color:rgb(173, 173, 173);
}

.a{
    color: black;
}

.spanshadow{
  -webkit-box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29); 
    box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29);
}

.dropdown:hover>.dropdown-menu {
  display: block;

}

.contenido{
  background-color: #f2f2f2;
     /*Estilos estándar experimentales (Principalmente Firefox)*/
}

.centrar{
  position: relative;

}

.ulcentrar{
  position: relative;
}

.modificarslide{

  height: 20%;
  /* background-color: blue; */
  position: relative;

}

.slide{
  position: relative;
  top: 60px;
}

.titulo{
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 60px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px 0px 0px 0px;
  
}

h1 .titulo{
  -webkit-box-shadow: -5px 1px 22px 11px rgba(0,0,0,0.15); 
  box-shadow: -5px 1px 22px 11px rgba(0,0,0,0.15);
  
}

.diviphone{
  
 
  text-align: center;
  padding: 20px;
  color: rgb(12, 12, 12);
  bottom: 6px;
  position: relative;
}

.diviphone h4{
  font-size: 60px;

  font-family: 'Open Sans Condensed', sans-serif;
}

.footer {

  -webkit-box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29); 
  box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29);
height: 180px;   /* Height of the footer */
background: rgb(24, 23, 23);
  }


  .siguiente{
    color: black;
    background-color: black;
  }

  .atras{
    background-color: black;
  }

  .segundo{

    background-color: #ffffff;
    width: 100%;
    
    position: relative;
    top: 60px;
    -webkit-box-shadow: 0px -9px 16px 5px rgba(0,0,0,0.19); 
    box-shadow: 0px -9px 16px 5px rgba(0,0,0,0.19);
  }

  .boton{
    border-radius: 10px;
    position: relative;
  }

  .bg-dark{
    border-radius: 10px;
  }

  .card{
    position: relative;
    height:400px;
    -webkit-box-shadow: -1px -2px 23px 1px rgba(0,0,0,0.16); 
box-shadow: -1px -2px 23px 1px rgba(0,0,0,0.16);
    margin: 20px;
    

  }



  .modificar{
    position: relative;
    top: 27px;
    left: 10px;
    right: 10px;
  }

  .modificar2{
    position: relative;
    left: 17%;
  }

  .tercero{
    background-color: #000000;
    width: 100%;
 
    position: relative;
    top: 60px;
    -webkit-box-shadow: 0px -9px 16px 5px rgba(0,0,0,0.19); 
    box-shadow: 0px -9px 16px 5px rgba(0,0,0,0.19);
  }

  .card2{
    position: relative;
    height:400px;
    -webkit-box-shadow: -1px -2px 23px 1px rgba(0,0,0,0.16); 
box-shadow: -1px -2px 23px 1px rgba(0,0,0,0.16);
    margin: 20px;
    background-color: #000000;

  }

  .card2 p{
    color: #f2f2f2;
  }

  .card2 p,h2{
    color: #f2f2f2;
  }

  .reloj{
    position: relative;
    bottom: 17px;
    right: 40px;
  }

  .cuarto{
      background-color: #f7f7f7;
      width: 100%;
      /* height: 1200px; */
      position: relative;
      top: 60px;
      -webkit-box-shadow: 0px -9px 16px 5px rgba(0,0,0,0.19); 
      box-shadow: 0px -9px 16px 5px rgba(0,0,0,0.19);
  }

  .cuarto h2{
    color: black;
  }


  /*botón up*/
/*evento hover*/

/*estilos para el tag i*/


.up{
  background-color: rgb(241, 239, 239);
  position: relative;
  left: 90%;
 
  width: 50px;
  height: 50px;
  z-index: 999999999;
  border-radius: 3px;
}

.up:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}

/* .up a{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;

  transform: rotate(-45deg);
} */

.flecha{
  position: relative;
  left: 9px;
  top: 10px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
}

 

 



