*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*::selection {
    background: rgb(25, 26, 25);
    color: rgb(224, 224, 224);
    
}

/* Firefox */
*::-moz-selection {
    background: rgb(30, 31, 30);
    color: rgb(223, 223, 223);
   
}

.header {
    -webkit-box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29); 
    box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29);
    background-color:rgb(17, 15, 15);
    padding: 0;
    position: relative;
}

.header a{
    color: aliceblue;
}

.header a:hover{
    color:rgb(173, 173, 173);
}

.a{
    color: black;
}

.spanshadow{
  -webkit-box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29); 
    box-shadow: -3px 7px 9px -1px rgba(37,37,37,0.29);
}

.dropdown:hover>.dropdown-menu {
  display: block;
  transition-duration: 5s;
}

/* .header h1{
  color: rgb(255, 255, 255);
  top: 50%;
  position: relative;
  padding: 10px;
} */


/* nav ul{


  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 10px;
  left: 0px;
  position: relative;


}
nav a{
  color: black;
  
}

.header img{
  position: relative;

  left: 40%;
  width: 30%;
  height: 200px;
  bottom: 10px;
} */

footer {

bottom:0;
width:100%;
height:60px;   /* Height of the footer */
background: rgb(44, 38, 38);
  }

  .ir-arriba{
display:none;
background-repeat:no-repeat;
font-size:20px;
color:black;
cursor:pointer;
position:fixed;
bottom:10px;
right:10px;
z-index:2;
}
